<div class="col-lg-12">
  <table class="table table-striped" style="text-align: center">
    <thead>
    <tr class="row">
      <th class="col-sm-1" style="text-align: center">Id</th>
      <th class="col-sm-2" style="text-align: center">Task</th>
      <th class="col-sm-2" style="text-align: center">Project</th>
      <th class="col-sm-2" style="text-align: center">End date</th>
      <th class="col-sm-2" style="text-align: center">Start date</th>
      <th class="col-sm-1" style="text-align: center">Time</th>
      <th class="col-sm-2" style="text-align: center">Left</th>
      <th class="col-sm-1" style="text-align: center">
        <button class="btn btn-success"  data-toggle="modal" data-target="#formModal" ng-click="fill()">Add Report</button>
      </th>
    </tr>
    </thead>
    <tbody>
        <tr class="row" ng-repeat="report in Reports.all" ng-if="(report.id == maskId || maskId == '' || maskId == null)
                                                           && (report.task.indexOf(maskTask) > -1 || maskTask == '' || maskTask == null)
                                                           && (report.project.indexOf(maskProject) > -1 || maskProject == '' || maskProject == null)
                                                           && (report.time == maskTime || maskTime == '' || maskTime == null)
                                                           && (report.left_time == maskLeftTime || maskLeftTime == '' || maskLeftTime == null)">
          <td class="col-sm-1">{{report.id}}</td>
          <td class="col-sm-2">{{report.task}}</td>
          <td>{{report.project}}</td>
          <td>{{report.end}}</td>
          <td>{{report.start}}</td>
          <td>{{report.time}}</td>
          <td>{{report.left_time}}</td>
          <td><button class="btn btn-danger" ng-click=Reports.delete(report.id)>Delete</button> </td>
        </tr>
        <tr>
            <td></td>
            <td class="col-sm-2"><input type="number" ng-model="maskId" class="form-control col-sm-1"></td>
            <td><input type="text" ng-model="maskTask" class="form-control col-sm-1"></td>
            <td><input type="text" ng-model="maskProject" class="form-control col-sm-1"></td>
            <td></td>
            <td></td>
            <td><input type="number" ng-model="maskTime" class="form-control col-sm-1"></td>
            <td><input type="number" ng-model="maskLeftTime" class="form-control col-sm-1"></td>
            <td class="btn btn-primary">Filter</td>
        </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div id="formModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create report</h4>
      </div>
      <div class="modal-body">
        <label>
          Start:<input type="date" ng-model="newReport.start" class="form-control">
        </label>
        <label>
          End:<input type="date" ng-model="newReport.end" min="newReport.start" class="form-control">
        </label>
        <label>
          Time:<input type="number" ng-model="newReport.time" class="form-control">
        </label>
        <label>
          Left time:<input type="number" ng-model="newReport.left_time" class="form-control">
        </label>
        <label>
          <select ng-model="type" class="form-control">
              <option value="1" selected>All tasks</option>
              <option value="2">My tasks</option>
          </select>
        </label>
        <label>
          Project:
          <select ng-model="newReport.project" class="form-control">
              <option ng-repeat="project in masProjects" value={{project}}>{{project}}</option>
          </select>
        </label>
        <label ng-if="newReport.project && type == 1">
          Task:
          <select ng-model="newReport.task" class="form-control">
              <option ng-repeat="task in Tasks.all" ng-if="task.project == newReport.project" value="task.title">{{task.title}}</option>
          </select>
        </label>
        <label ng-if="newReport.project && type == 2">
          Task:
          <select ng-model="newReport.task" class="form-control">
              <option ng-repeat="report in Reports.all" ng-if="report.project == newReport.project" value="report.task">{{report.task}}</option>
          </select>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-success"
                data-dismiss="modal"
                ng-click="Reports.save(newReport)"
                ng-disabled="newReport.left_time == '' || newReport.left_time == null
                        || newReport.time == '' || newReport.time == null
                        || newReport.start == null || newReport.end == null
                        || newReport.project == null || newReport.task == null">
          Ok
        </button>
      </div>
    </div>

  </div>
</div>